.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 25px;

    &__user {
        max-width: 70px;
        margin: 0 15px;
    }   

    &__image {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 2px solid #0c415e;
    }

    &__username {
        text-align: center;
    }

    &__mess {
        width: 100%;
        max-width: 280px;
        padding: 20px;
        
        border: 2px solid #2679a5;
        border-radius: 10px;

        &::before {
            content: '';
            display: block;

        }
    }


}

.userMaster {
    flex-direction: row-reverse;

 }