.dialog {
    display: flex;
    align-items: center;
    height: auto;

    padding: 8px;
    font-size: 18px;
    color: grey;
    border-radius: 3px 0 0 3px;
    border-bottom: 2px solid #eee;
    transition: background-color .2s ease-in;

    &:hover {
        background-color: #98e4f6;
        color: #fff;
    }

    &.active {
        background-color: #2679a5;
        color: #fff;
    }

    &__image {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin-right: 5px;
        
    }

}

